{% extends 'base.html.twig' %}

{% block title %}Mes réalisations{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Projet :<span class="project_title">&nbsp;{{projet.name}}</span></h1>

    <p class="d-flex justify-content-center">Aperçu : </p>
    <div class="container">   
        <img class="img-fluid" src="{{ asset('/uploads/' ~ projet.picture) }}"/>
    </div>
    <p class="d-flex justify-content-center mt-3">Technologies utilisées :</p>

    <div class="tech-contenair d-flex justify-content-center">
    {% for projet in projet.technologie %}
    <span class="badge badge-pill badge-coral">{{ projet }}</span>
    {% endfor %}
    </div>

    <p class="d-flex justify-content-center">Description : </p>
    <p class="d-flex justify-content-center container-fluid">{{projet.description}}</p>

    {% if app.user %}

    <a class="d-flex justify-content-center" href="{{ path('projet_edit', {'id': projet.id}) }}"><button type="button" class="btn btn-success">Éditer</button></a>

    {{ include('projet/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('home') }}#projects" class="d-flex justify-content-center"><button type="button" class="btn btn-success">Retour à la liste des projets</button></a>
{% endblock %}
