{% extends 'base.html.twig' %}

{% block title %}Liste des technologie{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Listes des technologies :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th class="d-flex justify-content-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-primary" href="{{ path('categorie_show', {'id': categorie.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune technologie trouvée...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Ajouter une technologie</a>
{% endblock %}
